body{
	
margin:0px;
padding:0px;
}
header{
	background-color:#8B008B;
	 color:white;
}


#logo{
	width:50px;
	height:50px;
	margin-top:10px;
	margin-left:10px;
}

#azlo{
	
position:absolute;
left:63PX;
top:8px;
}

#heady li{
	text-decoration:none;
	color:white;
	padding-left:10px;
	position:relative;
	margin-left:70px;
	margin-top:px;
	display:inline;
	font-size:20px;

}

#heady li a{
	color:white;
	text-decoration:none;
}
#heady li    a:hover{
	color:red;
}

#imag{
	position:absolute;
	top:20px;
	left:700px;
	color:white;
	background-color:white;
	 height:60px;
	 width:20%;
	 padding-top:5px;
	 margin-bottom:10px; 
	 border-radius-top:5px;
}

#imag span{
width:px;
height:px;
padding-left:10px;
}

#imag img{
width:30px;
height:30px;
padding-left:10px;
}

#bla{
	
	
background-color:black;
position:absolute;
left:700px;
top:60px;
color:white;
width:40%;
font-size:20px;
height:50px;
padding-top:10px;	
}

#bla img{
	height:20px;
	width:20px;
	margin-left:10px;
	margin-right:5px;
}

.mess{
	 width:50%;
	 height:200px;
	 background-color:#f5f5f5;
	 margin-top:20px;
	 border-radius:10px;
	 padding-top:20px;
}
.mes{
	 width:50%;
	 height:100px;
	 background-color:#f5f5f5;
	 margin-top:20px;
	 border-radius:10px;
	 padding-top:20px;
}

.mess img{
	
height:100px;
width:100px;
padding-bottom:20px;
}


.mess span{
	
font-size:20px;
margin-bottom:20px;
}

.mess button{
background-color:#8B008B;
border-color:#8B008B;
font-size:15px;
color:white;
margin-top:10px;
}



#formy{
	
background-color:#f5f5f5;
width:50%;
margin-top:30px;
height:450px;
border-radius:10px;
}


#formy span{
  font-size:20px;
  margin-top:10px;
  padding-top:20px;
  margin-left:20px;
}

#formy input{
  width:80%;
  height:30px;
  margin-top:15px;
}

#formy textarea{
  width:80%;
  height:100px;
  margin-top:15px;
}

#formy #sub{
  width:30%;
  height:30px;
  margin-top:15px;
  background-color:#8B008B;
  color:white;
  border-color:#8B008B;
  font-weight:bold;
  
}


footer{
	background-color:black;
	height:200px;
	color:white;
	margin-top:40px;
	padding-top:20px;
}

#foot{
	
padding-top:5px;
}

footer img{
	height:20px;
	width:20px;
	padding-left:10px;
}

     
.gask{
	background-color:#9370db;
	color:white;
    width:90%;
	height:70px;
	font-size:20px;
		border-radius:5px;
}


.gaside{
position:absolute;	
left:10px;
top:200px;
background-color:purple;
width:30%;
padding-top:10px;
height:1000px;
}

.g2aside{
	margin-top:90px;
position:absolute;	
left:10px;
top:500px;
background-color:;
width:30%;
padding-top:10px;
height:500px;
}

.gell{
	margin-top:20px;
	background-color:#9370db;
	color:white;
    width:90%;
	height:70px;
	font-size:20px;
	border-radius:5px;
} 

#csell{
	background-color:#f5f5f5;
	width:90%;
	padding-top:10px;
	height:600px;
}
#csell input{
	
width:60%; 
margin-top:10px;

}
#csell textarea{
	width:90%;
	height:50px;
	
}

#cask{
	background-color:#f5f5f5;
	width:90%;
	padding-top:10px;
	height:300px;
}

#cask input{
	
width:80%; 
margin-top:10px;

}
#cask textarea{
	width:90%;
	height:50px;
	
}

#csell #ssell{
	width:30%;
	background-color:#9370db;
	color:white;
	margin-top:20px;
}

#cask #asub{
	width:30%;
	background-color:#9370db;
	color:white;
	margin-top:20px;
}
.gask button{
	
	background-color:purple;
	color:white;
	border-color:purple;
	width:50px;
}
.gell button{
	
	background-color:purple;
	color:white;
	border-color:purple;
	width:50px;
}


#ft{
	
	
	background-color:white; 
	width:20%; height:50px; 
	border-radius:40px; 
	padding-top:10px;
}
#ft img{
	
	width:30px;
	height:30px;
}


@media(max-width:700px){
body{background-color:RED;}	
#logo{
	width:70%;
	height:70%;
	margin-top:10px;
	margin-left:10px;
}

#azlo{
	
position:absolute;
left:63PX;
top:8px;
}

#heady li{
	text-decoration:none;
	color:white;
	padding-left:2px;
	position:relative;
	margin-left:10px;
	margin-top:px;
	display:inline;
	font-size:15px;

}

#heady li a{
	color:white;
	text-decoration:none;
}
#heady li    a:hover{
	color:red;
}

#imag{
	position:absolute;
	top:30px;
	left:140px;
	color:white;
	width:17%;
	height:30px;
	background-color:white;
}
#imag span{
height:10PX;
width:10px;
padding-left:5px;
}
#imag span img{
	height:10px;
	width:10px;
}
#bla{
	
	
background-color:black;
position:absolute;
left:250px;
top:30px;
color:white;
width:40%;
font-size:15px;
height:55px;
padding-top:5px;	
}

#bla img{
	height:20px;
	width:20px;
	margin-left:10px;
	margin-right:5px;
}

.mess{
	 width:90%;
	 height:200px;
	 background-color:#f5f5f5;
	 margin-top:20px;
	 border-radius:10px;
	 padding-top:20px;
}
.mes{
	 width:90%;
	 height:100px;
	 background-color:#f5f5f5;
	 margin-top:20px;
	 border-radius:10px;
	 padding-top:20px;
}

.mess img{
	
height:100px;
width:100px;
padding-bottom:20px;
}


.mess span{
	
font-size:20px;
margin-bottom:20px;
}

.mess button{
background-color:#8B008B;
border-color:#8B008B;
font-size:15px;
color:white;
margin-top:10px;
}



#formy{
	
background-color:#f5f5f5;
width:90%;
margin-top:30px;
height:500px;
border-radius:10px;
}


#formy span{
  font-size:20px;
  margin-top:10px;
  padding-top:20px;
  margin-left:20px;
}

#formy input{
  width:80%;
  height:30px;
  margin-top:15px;
}

#formy textarea{
  width:80%;
  height:100px;
  margin-top:15px;
}

#formy #sub{
  width:30%;
  height:30px;
  margin-top:15px;
  background-color:#8B008B;
  color:white;
  border-color:#8B008B;
  font-weight:bold;
  
}


footer{
	background-color:black;
	height:200px;
	color:white;
	margin-top:40px;
	padding-top:20px;
}

#foot{
	
padding-top:5px;
}

footer img{
	height:20px;
	width:20px;
	padding-left:10px;
}

     
.gask{
	background-color:#9370db;
	color:white;
    width:90%;
	height:70px;
	font-size:20px;
		border-radius:5px;
}


.gaside{
background-color:purple;
width:90%;
padding-top:10px;
height:500px;
margin-bottom:40px;
}

.g2aside{
	margin-top:100px;
background-color:purple;
width:90%;
padding-top:10px;
height:550px;
}

#code{
	
	margin-top:1100px;
	margin-left:-400px;
}

.gell{
	margin-top:20px;
	background-color:#9370db;
	color:white;
    width:90%;
	height:70px;
	font-size:20px;
	border-radius:5px;
} 

#csell{
	background-color:#f5f5f5;
	width:90%;
	padding-top:10px;
	height:600px;
}
#csell input{
	
width:60%; 
margin-top:10px;

}
#csell textarea{
	width:90%;
	height:50px;
	
}

#cask{
	background-color:#f5f5f5;
	width:90%;
	padding-top:10px;
	height:300px;
}

#cask input{
	
width:80%; 
margin-top:10px;

}
#cask textarea{
	width:90%;
	height:50px;
	
}

#csell #ssell{
	width:30%;
	background-color:#9370db;
	color:white;
	margin-top:20px;
}

#cask #asub{
	width:30%;
	background-color:#9370db;
	color:white;
	margin-top:20px;
}
.gask button{
	
	background-color:purple;
	color:white;
	border-color:purple;
	width:50px;
}
.gell button{
	
	background-color:purple;
	color:white;
	border-color:purple;
	width:50px;
}

#ft{
	
	
	background-color:white; 
	width:20%; height:30px; 
	border-radius:40px; 
	padding-top:10px;
}
#ft img{
	
	width:10px;
	height:10px;
}



}
